@import "./fonts.scss";

$black: #0059ff;

body {
    font-family: "Roboto";
}

h1 {
    display: flex;
    font-size: 60px;
    color: $black;
    transition: 0.5s;
    transform: translate(45deg);
}

.logo {
    background-image: url('../assets/images/webpack-logo.png');
}